<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoDesafio</title>
    <!-- Required CSS Files -->
    <link href="/css/tornado-icons.css" rel="stylesheet" />
    <link href="/css/tornado.css" rel="stylesheet" />
    <link href="/css/tornado-custom.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_dots.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js"></script>
</head>
    <body>
        <div>
            <!-- Main Header -->
            <header class="tornado-header stdone" data-sticky="absolute">
                <div class="container">
                    <!-- Search Box -->
                    <form class="form-ui search-box">
                        <input type="text" placeholder="Busque una película">
                        <button class="ti-search search-btn"></button>
                    </form>
                    <!-- Logo -->
                    <a href="#" class="logo"><img src="/img/logo.png" alt=""></a>
                    <!-- Action Buttons -->
                    <div class="action-btns">
                        <!-- Counter Down -->
                        <a href="count-down.html" class="ti-clock-alarm icon-btn tooltip-bottom" data-title="Show Time Count Down"></a>
                        <!-- Notifications -->
                        <div class="dropdown notifications-dropdown">
                            <a href="#" class="dropdown-btn icon-btn ti-notifications" data-notifications="5"></a>
                            <ul class="dropdown-list">
                                <!-- Notifications Item -->
                                <li>a New Episode of One Piece has been Uploaded <a href="anime-stream.html"><strong>One Piece 898</strong></a></li>
                                <!-- Notifications Item -->
                                <li class="danger">Error Message Goes Here as Notification <a href="anime-stream.html"><strong>issue title</strong></a></li>
                                <!-- Notifications Item -->
                                <li>a New Chapter of Hunter x Hunter has been Uploaded <a href="anime-stream.html"><strong>One Piece 898</strong></a></li>
                                <!-- Notifications Item -->
                                <li class="warning">Warning Message Goes Here as Notification <a href="anime-stream.html"><strong>Warning Link</strong></a></li>
                            </ul>
                        </div>
                        <!-- User Menu -->
                        <div class="dropdown user-menu">
                            <a href="#" class="dropdown-btn icon-btn ti-user"></a>
                            <ul class="dropdown-list">
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </div>
                        <!-- Menu Button -->
                        <a href="#" class="menu-btn ti-menu-round icon-btn" data-id="main-menu"></a>
                    </div>
                </div>
                <!-- Divider -->
                <hr />
                <!-- Main Menu -->
                <div class="container navigation-menu" data-id="main-menu" data-logo="img/logo-colored.png">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">PELÍCULAS</a></li>
                        <li><a href="#">MÚSICA</a></li>
                        <li><a href="#">OVAS ANIME</a></li>
                        <li><a href="#">ONAS ANIME</a></li>
                        <li><a href="#">PROGRAMAS</a></li>
                        <li><a href="#">ESPECIALES </a></li>
                        <li><a href="#">CONTÁCTANOS</a></li>
                    </ul>
                </div>
            </header>
    <!-- // Main Header -->
        </div>

    @RenderBody()

    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="container">
            <!-- Grid -->
            <div class="row">
                <!-- Puplare Anime -->
                <div class="col-m-6 col-l-3">
                    <h3>ANIMES POPULARES</h3>
                    @RenderSection("PopularAnimes", required: false)
                </div>
                <!-- Puplare Manga -->
                <div class="col-m-6 col-l-3">
                    <h3>MANGAS POPULARES</h3>
                    @RenderSection("PopularMangas", required: false)
                </div>
                <!-- Puplare Movies -->
                <div class="col-m-6 col-l-3">
                    <h3>PELÍCULAS POPULARES</h3>
                    @RenderSection("PopularMovies", required: false)
                </div>
                <!-- Anime of the Day -->
                <div class="col-m-6 col-l-3">
                    <h3>Anime del día</h3>
                    @RenderSection("DayAnime", required: false)
                </div>
            </div>
            <!-- Footer Menu -->
            <div class="navigation-menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="anime-list.html">Películas</a></li>
                    <li><a href="manga-list.html">Música</a></li>
                    <li><a href="anime-ova.html">Ovas Anime</a></li>
                    <li class="logo"><a href="index.html">Onas Anime</a></li>
                    <li><a href="anime-movies.html">Programas</a></li>
                    <li><a href="forums.html">Especiales</a></li>
                    <li><a href="contact-us.html">Contáctanos</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- // Main Footer -->
    <!-- Copyrights -->
    <div class="copyrights">
        <div class="container">
            <p>todos los derechos reservados | Proyecto Desafío Latam</p>
        </div>
    </div>
    <!-- Required JS Files -->
    <script src="/js/tornado.min.js"></script>
    @RenderSection("Scripts", required: false)
    </body>
</html>
