@model ProyectoDesafio.ViewModels.MainViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section PopularCarousel{
    @foreach (var item in Model.TopAnimes)
    {
        <!-- Media Block -->
        <div class="media-block featured">
            <!-- Poster  -->
            <a href="anime-stream.html" class="image ti-play" data-src="@item.ImgUrl"></a>
            <!-- Info -->
            <div class="info">
                <a href="anime-details.html"><h3>@item.AnimeName</h3></a>
                <a href="anime-stream.html"><h4>episode : 05</h4></a>
            </div>
            <!-- Rating -->
            <a href="#" class="rating"><span>Rating</span> @item.Rating.ToString()</a>
        </div>
    }
}
<div class="media-section">
    <div class="container">
        <!-- Controls -->
        <div class="area-head">
            <h2 class="area-title">Top Rated Animes</h2>
        </div>
        <!-- Slider Track -->
        <div class="tns-outer media-slider-outer grid-mode" id="tns2-ow">
            <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button type="button" data-controls="prev" tabindex="-1" aria-controls="tns2"></button><button type="button" data-controls="next" tabindex="-1" aria-controls="tns2"></button></div><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">15 to 18</span>  of 6</div><div id="tns2-mw" class="tns-ovh">
                <div class="tns-inner" id="tns2-iw">
                    <div class="media-carousel row  tns-slider tns-carousel tns-subpixel tns-no-calc tns-horizontal" id="tns2" style="transform: translate3d(-70%, 0px, 0px);">
                        <div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-2.png" style="background-image: url(&quot;img/image-2.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-5.png" style="background-image: url(&quot;img/image-5.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2015</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-6.png" style="background-image: url(&quot;img/image-6.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Lanuch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-7.png" style="background-image: url(&quot;img/image-7.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Boruto Naruto The Next Generation</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-8.png" style="background-image: url(&quot;img/image-8.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-1.png" style="background-image: url(&quot;img/image-1.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2025</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-2.png" style="background-image: url(&quot;img/image-2.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item  col-m-6 col-l-3 media-block tns-item" id="tns2-item0" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-5.png" style="background-image: url(&quot;img/image-5.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2015</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item  col-m-6 col-l-3 media-block tns-item" id="tns2-item1" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-6.png" style="background-image: url(&quot;img/image-6.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Lanuch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item  col-m-6 col-l-3 media-block tns-item" id="tns2-item2" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-7.png" style="background-image: url(&quot;img/image-7.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Boruto Naruto The Next Generation</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item  col-m-6 col-l-3 media-block tns-item" id="tns2-item3" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-8.png" style="background-image: url(&quot;img/image-8.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item  col-m-6 col-l-3 media-block tns-item" id="tns2-item4" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-1.png" style="background-image: url(&quot;img/image-1.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2025</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <!-- Media Block -->
                        <div class="slide-item  col-m-6 col-l-3 media-block tns-item" id="tns2-item5" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-2.png" style="background-image: url(&quot;img/image-2.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                        <div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-5.png" style="background-image: url(&quot;img/image-5.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2015</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned tns-slide-active">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-6.png" style="background-image: url(&quot;img/image-6.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Lanuch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned tns-slide-active">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-7.png" style="background-image: url(&quot;img/image-7.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Boruto Naruto The Next Generation</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned tns-slide-active">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-8.png" style="background-image: url(&quot;img/image-8.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2017</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned tns-slide-active">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-1.png" style="background-image: url(&quot;img/image-1.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Shingeki no Kyojin S02</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2025</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item  col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-2.png" style="background-image: url(&quot;img/image-2.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Hunter x Hunter</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2011</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div><div class="slide-item col-m-6 col-l-3 media-block tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <!-- Poster  -->
                            <a href="anime-details.html" class="image ti-play dbdone" data-src="img/image-5.png" style="background-image: url(&quot;img/image-5.png&quot;);"></a>
                            <!-- Info -->
                            <div class="info">
                                <a href="anime-details.html"><h3>Dragon Ball Super</h3></a>
                                <a href="anime-details.html"><h4>Launch Date : 2015</h4></a>
                            </div>
                            <!-- Rating -->
                            <a href="#" class="rating"><span>Rating</span> 9.0</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe CTA -->
<div class="subscribe-cta">
    <div class="container">
        <div class="row align-center-y">
            <!-- Section Title -->
            <div class=" col-m-6 col-l-3">
                <h2>Suscríbete</h2>
                <p><strong>A tu favorito Anime </strong> Para ver los últimos episodios</p>
            </div>
            <!-- Step 01 -->
            <div class="ti-user cta-column  col-m-6 col-l-3">
                <span class="step">01 <i>paso</i></span>
                <h3>Califica <span>tus películas preferidas</span></h3>
            </div>
            <!-- Step 02 -->
            <div class="ti-view-module cta-column  col-m-6 col-l-3">
                <span class="step">02 <i>paso</i></span>
                <h3>Ver <span>Te recomendaremos lo mejor para ti</span></h3>
            </div>
            <!-- Step 03 -->
            <div class="ti-notifications cta-column  col-m-6 col-l-3">
                <span class="step">03 <i>paso</i></span>
                <h3>Sigue <span>Votando y participando</span></h3>
            </div>
        </div>
    </div>
</div>
<!-- // Subscribe CTA -->

<div class="text-center">
    <div class="row d-flex justify-content-center mt-200">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Launch multistep Wizard </button> </div>
</div>
<div class="staticSpinner" style="display:none">
    <img src="img/loading.gif" />
</div>
<div class="staticWarning" style="display:none">
    <a id="lnlRecommendations" href="#">Tienes recomendaciones para ti</a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¡Hola! Ayúdanos a conocerte, dinos que te parecen estos animes</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div id="smartwizard">
                    <ul>
                        <li><a href="#step-1">Peli 1<br /><small>Calificación 1</small></a></li>
                        <li><a href="#step-2">Peli 2<br /><small>Calificación 2</small></a></li>
                        <li><a href="#step-3">Peli 3<br /><small>Calificación 3</small></a></li>
                        <li><a href="#step-4">Peli 4<br /><small>Calificación 4</small></a></li>
                    </ul>
                    <div>
                        @{int count = 1;}
                        @foreach (var item in Model.SurveyAnimes)
                        {
                        <div id="step-@(count.ToString())">
                            <div class="row justify-content-center">
                                <img src="@item.ImgUrl" alt="" class="surveyImg" />
                                <div style="text-align:center; margin-left:10px">
                                    <h4>¿Qué calificación le darías a este Título?</h4>
                                    <label>@(item.AnimeName)</label>
                                    <div class="rating" data-id="@(item.AnimeId)">
                                        <input type="radio" name="rating@(count.ToString())" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating@(count.ToString())" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating@(count.ToString())" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating@(count.ToString())" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating@(count.ToString())" value="1" id="1"><label for="1">☆</label>

                                    </div>
                                </div>
                            </div>
                            @if (count == 4)
                            {
                                <div class="row justify-content-center">
                                    <button id="btnSendResults" type="button" class="btn btn-primary"> Enviar Respuestas </button>
                                </div>
                            }
                                </div>
                            
                            count++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¡Gracias por tus respuestas!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    Estaremos buscando Animes para ti, ¡esperemos que te gusten!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="recommendationsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¡Tenemos esto para ti!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bd-example" style="background-color:gray">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators my-4">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active justify-content-center">
                                <img style="max-height: 400px; margin: 0 auto;" src="https://es.web.img2.acsta.net/pictures/20/07/01/13/39/0542573.jpg" class="d-block" alt="...">
                                <div class="carousel-caption d-none d-md-block bg-dark mb-4">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item justify-content-center">
                                <img style="max-height: 400px; margin: 0 auto;" src="https://es.web.img2.acsta.net/pictures/20/07/01/13/39/0542573.jpg" class="d-block" alt="...">
                                <div class="carousel-caption d-none d-md-block bg-dark mb-4">
                                    <h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item justify-content-center">
                                <img style="max-height: 400px; margin: 0 auto;" src="https://es.web.img2.acsta.net/pictures/20/07/01/13/39/0542573.jpg" class="d-block" alt="...">
                                <div class="carousel-caption d-none d-md-block bg-dark mb-4">
                                    <h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section PopularAnimes{
    <ul class="puplare-list">
        @foreach (var item in Model.Top3)
        {
            <li class="small-media">
                <a href="anime-details.html" class="image" data-src="@item.ImgUrl"></a>
                <div class="info">
                    <a href="anime-details.html"><h3>@item.AnimeName</h3></a>
                    <h4>Rating : @item.Rating</h4>
                    <a href="anime-stream.html" class="more-btn">Ver detalle</a>
                </div>
            </li>
        }
    </ul>
}
@section PopularMangas{
    <ul class="puplare-list">
        @foreach (var item in Model.TopMangas)
        {
            <li class="small-media">
                <a href="manga-details.html" class="image" data-src="@item.ImgUrl"></a>
                <div class="info">
                    <a href="manga-details.html"><h3>@item.AnimeName</h3></a>
                    <h4>Rating : 2021</h4>
                    <a href="manga-stream.html" class="more-btn">Ver detalle</a>
                </div>
            </li>
        }
    </ul>
}
@section PopularMovies{
    <ul class="puplare-list">
        @foreach (var item in Model.TopMovies)
        {
            <li class="small-media">
                <a href="anime-details.html" class="image" data-src="@item.ImgUrl"></a>
                <div class="info">
                    <a href="anime-details.html"><h3>@item.AnimeName</h3></a>
                    <h4>Rating : @item.Rating</h4>
                    <a href="anime-stream.html" class="more-btn">Ver Detalle</a>
                </div>
            </li>
        }
    </ul>
}
@section DayAnime{
    <a href="#" class="banner"><img src="@Model.DayAnime" alt=""></a>
}
@section Scripts{
    <script>
        
        $(document).ready(function () {

            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'dots',
                autoAdjustHeight: true,
                transitionEffect: 'fade',
                showStepURLhash: false,

            });

            // Initialize the leaveStep event
            $("#smartwizard").on("leaveStep", function (e, anchorObject, currentStepIndex, nextStepIndex, stepDirection) {

                return true;
            });

            $("#btnSendResults").click(function () {
                $('#exampleModal').modal('hide');
                $('#resultsModal').modal('toggle');

                SaveResults();
            });

            $("#lnlRecommendations").click(function () {
                $('#recommendationsModal').modal('toggle');
            });
        });

        function SaveResults() {
            var rating1Id = $("input[name='rating1']").parent().data("id");
            var rating2Id = $("input[name='rating2']").parent().data("id");
            var rating3Id = $("input[name='rating3']").parent().data("id");
            var rating4Id = $("input[name='rating4']").parent().data("id");

            var movie1Rating = $("input[name='rating1']:checked").val();
            var movie2Rating = $("input[name='rating2']:checked").val();
            var movie3Rating = $("input[name='rating3']:checked").val();
            var movie4Rating = $("input[name='rating4']:checked").val();

            $(".staticSpinner").show();

            setTimeout(function () {
                $(".staticSpinner").hide();
                $(".staticWarning").show();
                $(".staticWarning").effect("shake", {
                    direction: "left",
                    times: 4,
                    distance: 10
                }, "slow");
            }, 6000);
        }
    </script>
}
